/* common css start  */
:root {
  --primary_font: "Roboto", serif;
  --secoundry_font: "Lora", serif;
  --text_color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #250821;
  --section-bg-color: #292e33;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shadow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
  --text-shadow: 0 0 10px rgba(18, 247, 245, 0.3),
    0 0 20px rgba(18, 247, 245, 0.3), 0 0 30px rgba(18, 247, 245, 0.3),
    0 0 40px rgba(18, 247, 245, 0.3), 0 0 70px rgba(18, 247, 245, 0.3),
    0 0 80px rgba(18, 247, 245, 0.3), 0 0 100px rgba(18, 247, 245, 0.3),
    0 0 150px rgba(18, 247, 245, 0.3);
}
::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--section-bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
body {
  font-family: var(--primary_font);
  background-color: var(--bg-color);
  color: var(--text_color);
}
.container {
  width: 1140px;
}

.btn-box a {
  display: inline-block;
  background-color: var(--bg-color);
  color: var(--hover-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s;
  border: 2px solid var(--hover-color);
  box-shadow: 0 0 0.3rem #12f7ff;
  margin: 15px 0;
  padding: 8px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-box a:hover {
  color: var(--bg-color);
  box-shadow: var(--neon-box-shadow);
}
.btn-box a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--hover-color);
  color: var(--bg-color);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover::after {
  width: 100%;
}
.main-text {
  text-align: center;
  margin: 2rem 0 0 0;
}
.main-text h2 {
  text-align: center;
  color: var(--hover-color);
  font-size: var(--normal-font);
  font-weight: 700;
}
.main-text span {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fdfdfd;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* common css end   */

/* nav section css start  */
#nav.active {
  position: fixed !important ;
  width: 100%;
  background: var(--bg-color);
  border-bottom: 1px solid #bdbdbd;
  z-index: 9999999999;
  animation-name: menuFixed;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes menuFixed {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
#nav .logo {
  color: var(--text_color);
}
#nav .logo span {
  color: var(--hover-color);
  margin-right: 5px;
}
#nav-menu .nav-item a {
  color: var(--text_color);
  font-weight: 500;
  padding: 10px 20px;
}
#nav-menu .nav-item a:hover {
  color: var(--hover-color);
  text-shadow: var(--text-shadow);
}
#nav button {
  background-color: var(--hover-color);
  color: var(--section-bg-color);
}
/* nav section css end  */

/* Home section css start  */
#home {
  padding: 100px 8%;
}
/* #home.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
#home .first_part {
  max-width: 600px;
}
#home .first_part h1 {
  font-size: var(--big-font);
  font-weight: 700;
}
#home .first_part .change-text h3 {
  display: inline-block;
  margin-right: 10px;
}
#home .first_part .info-box h5 {
  font-weight: 600;
  font-size: 1rem;
}
#home .first_part .info-box a {
  font-size: 0.9rem;
  color: #bdbdbd;
  transition: 0.5s;
}
#home .first_part .info-box a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 0.3rem #12f7ff;
}

#home .first_part .social-icon {
  text-align: start;
}
#home .first_part .social-icon ul li {
  margin: 0px 10px;
}
#home .first_part .social-icon ul li a {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 27px;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  text-align: center;
  transition: 0.5s;
  box-shadow: 0 0 0.3rem #12f7ff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#home .first_part .social-icon ul li a:hover {
  color: var(--bg-color);
}
#home .first_part .social-icon ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #12f7ff;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}
#home .first_part .social-icon ul li a:hover::after {
  width: 100%;
}
#home .home-image {
  position: relative;
}
#home .home-image .img-box {
  text-align: center;
}
#home .home-image .liquad-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 10%;
}
#home .home-image .liquad-shape:nth-child(2) {
  filter: blur(50px);
}
/* Home section css end  */

/* About section css start  */
#about {
  padding: 100px 0px;
  background: #292e33;
}
#about .about-contant {
  padding-top: 200px;
}
#about .about-contant span {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fdfdfd;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#about .about-contant h2 {
  font-size: var(--normal-font);
  color: var(--hover-color);
  font-weight: 700;
}
#about .about-contant p {
  color: #fdfdfd;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

/* About section css end  */

/* Service section css start  */
#service {
  padding: 50px 0;
}
#service .service-box {
  position: relative;
}
#service .service-box .service-item {
  margin: 3.1rem 0.8rem 0 0.8rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background-color: var(--section-bg-color);
  transition: transform 0.4s;
  border-radius: 10px;
  transition: 0.5s;
}

#service .service-box .service-item:hover {
  transform: scale(1.1);
  background: #000000;
}
#service .service-box .service-box-arrows {
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 0.3rem #12f7ff;
  color: var(--hover-color);
  padding: 10px;
  z-index: 1111111111111;
}
#service .service-box .service-box-arrows.fa-chevron-left {
  left: 0;
  transform: translateX(-30px);
}
#service .service-box .service-box-arrows.fa-chevron-right {
  right: 0;
  transform: translateX(30px);
}
#service .service-box .service-item span {
  border: 2px solid var(--hover-color);
  padding: 1rem;
  background: var(--bg-color);
  font-size: 2rem;
  border-radius: 50%;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--bg-color);
}
#service .service-box .service-item h3 {
  font-size: 1.2rem;
  margin-top: 30px;
  color: var(--hover-color);
}
#service .service-box .service-item p {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
}

/* Service section css end */

/* Skil section css start  */
#skill {
  padding: 50px 0;
  background: var(--section-bg-color);
}
#skill .skill-heading h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}
#skill .skill-bar {
  margin-bottom: 2.3rem;
}
#skill .skill-bar .info {
  padding: 0px 10px;
}
#skill .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}
#skill .skill-bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}
#skill .skill-bar .bar .html {
  width: 90%;
  animation: html 2s;
}
#skill .skill-bar .bar .css {
  width: 85%;
  animation: css 2.5s;
}
#skill .skill-bar .bar .javaScript {
  width: 70%;
  animation: javaScript 3s;
}
#skill .skill-bar .bar .jquary {
  width: 60%;
  animation: jquary 4s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes javaScript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes jquary {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
#skill .professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#skill .professional .box {
  margin: 10px 0;
  flex: 1 1 15rem;
  position: relative;
}
#skill .professional .box .text {
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
}
#skill .professional .box .text big {
  font: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#skill .professional .box .text small {
  display: block;
  font-weight: 600;
}
#skill .professional .box .cricle {
  width: 100%;
  height: 120px;
  border: 2px solid #ffffff;
}
#skill .professional .box .cricle .points {
  width: 2px;
  height: 10px;
  background-color: var(--bg-color);
  position: absolute;
  border: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}
.points.marked {
  animation: glow 0.4s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}

@keyframes glow {
  0% {
    background: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
  }
}
/* Skil section css end


/* Portfolio section css start */
#portfolio {
  padding: 50px 0px;
}
#portfolio .fillter_button {
  margin: 2rem;
  text-align: center;
}
#portfolio .fillter_button .btn {
  background: none;
  border: none;
  outline: none;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
  color: var(--text_color);
  transition: 0.5s;
}
#portfolio .fillter_button .btn:hover {
  color: var(--hover-color);
  text-shadow: var(--text-shadow);
}
#portfolio .portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
}
#portfolio .port-box {
  position: relative;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  margin: 5px;
}
#portfolio .port-img img {
  width: 100%;
  height: 100%;
  opacity: 0.5s;
  transition: 0.5s;
}
#portfolio .port-contant {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgb(0, 0, 0, 0.2), #12f7ff);
  flex-direction: column;
  transition: 0.5s;
  padding: 0 2rem;
}
#portfolio .port-box:hover .port-contant {
  opacity: 1;
}
#portfolio .port-box:hover .port-img img {
  transform: scale(1.1);
}
#portfolio .port-contant h3 {
  font-size: 1.5erm;
  font-weight: 600;
}
#portfolio .port-contant p {
  font-size: 0.8rem;
  padding: 5px 0 15px 0;
}
#portfolio .port-contant a {
  background: #ffffff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--hover-color);
  outline: 2px solid #ffffff;
}
#portfolio .port-contant a i {
  font-size: 1.3rem;
  color: var(--section-bg-color);
}
/* Portfolio section css endt */

/* Contact section css start  */
#contact {
  background: var(--section-bg-color);
  width: 100%;
  padding: 50px 0;
}
#contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
#contact form input,
#contact form textarea {
  width: 100%;
  color: var(--text_color);
  background: var(--bg-color);
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}
#contact form input:focus,
#contact form textarea:focus {
  outline: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
}
#contact form textarea {
  resize: none;
}
#contact .btn-box {
  display: inline-block;
}
#contact .btn-box .btn {
  background-color: var(--bg-color);
  color: var(--hover-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s;
  border: 2px solid var(--hover-color);
  box-shadow: 0 0 0.3rem #12f7ff;
  margin: 15px 0;
  padding: 8px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#contact .btn-box:hover .btn {
  color: var(--bg-color);
  box-shadow: var(--neon-box-shadow);
}
#contact .btn-box .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--hover-color);
  color: var(--bg-color);
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}
#contact .btn-box .btn:hover::after {
  width: 100%;
}
/* Contact section css end  */

/* footer section css start  */
footer {
  padding: 1.5rem 10%;
}
footer p {
  color: #bdbdbd;
}
footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text_color);
  background: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}
footer a i {
  font-size: 1rem;
  color: var(--section-bg-color);
  margin-left: 5px;
}
/* footer section css end  */
